body {
  background-color: #F4F4F4;
}
.app {
  margin-top: 20px;
  margin-bottom: 20px;
}
.video-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  flex-wrap: wrap;
}
.video-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  width: 400px;
  height: 115px;
  border: 1px solid #e3e3e3;
  padding: 1em;
  margin-bottom: 1em;
  margin-right: 1em;
  .video-infos {
    padding: 1em;
    p {
      font-weight: 600;
    }
  }
  &:hover {
    cursor: pointer;
  }
}